
/* */
html {
  
  background-color: #BC82FF;
}

/*header*/
.header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #FFFE82;
  }
.photo {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }
.position{
  
  font-weight: 400;
  font-style: italic;

}
.description{

}
.answers{
  
}