
/* */
html, body {

  background-color: #BC82FF;
  margin: auto;
}

/*header*/
.header {

    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    flex-flow: row wrap;
    background-color: #FFFE82;
    color: #BC82FF;
    width: 100%

  }

  h1{
    padding: 40px;
  }

  .header img{
    padding: 40px;
  }
  
  .photo img{
  display: block;
  height: 265px;
  padding: 25px;

  }

.content{
  display: flex;
  justify-content: space-around;
}
.photo{
  flex-direction: column;
}

.position{
  
  font-weight: 400;
  font-style: italic;

}
.resume, p{
  background-color: #FFF7CF;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
}

.resume{
  border-style: dashed;
}

p{
  width: 250px;
  height: 50px;
}

@media screen and (max-width : 1000px){
  .content{
    justify-content: center;
    flex-direction: column;
  }
  .photo{
    display: flex;
    flex-direction: row;
  }

}
