
/* */
html {

  background-color: #BC82FF;
}

/*header*/
.header {

    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    flex-flow: row wrap;
    background-color: #FFFE82;
    color: #BC82FF;

  }

  h1{
    padding: 40px;
  }

  .header img{
    padding: 40px;
  }
  
  .photo img{
  display: block;
  height: 250px;
  padding-top: 20.15px;
  }

.photo {

  }
.position{
  
  font-weight: 400;
  font-style: italic;

}
.resume, p{
  background-color: #FFF7CF;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
}

.description{

}
.answers{
  
}